.App {
  text-align: center;
}

.Right {
  margin-left: auto;
}

.Body {
  padding: 20px;
}

.Controls {
  padding: 40px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.Playlist {
  padding: 60px;
  padding-top: 10px;
}

.PlaylistElement {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Footer {
  padding: 10px;
}